<h1>ALL THE DOGS</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<pre>Dog Data: <%= @dogs.to_s %></pre>

<%= link_to( 'New Dog!', new_dog_path, class: 'inline-link' ) %>
<%= button_to( 'Delete Dog!', '/dogs/delete', class: 'inline-button', method: :delete ) %>
